
/******************
    通用样式
******************/
/* html {
    overflow: hidden
} */
body {
    background-color: #f8f8f8;
    width: 100%;
    font-size: 13px!important;
}
div#app {
    width: 100%;
    height: 100%;
    background-color: none;
}


/**
    通用样式
**/
.zj-base-container {
    margin-top: 20px;
    width: 100%;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 1px 1px 0px 0px rgba(0, 0, 0, 0.15);
}

.zj-base-handle {
    padding: 20px 0px 0px 20px;
}

.zj-base-lis-box {
    padding: 20px;
}